Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

go-fmt:
  name: go fmt
  entry: gofmt -l -w
  language: system

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fast --timeout=3m
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test -short ./...
  language: system
  pass_filenames: false

fix(contribution_graph): use asset_urls for cal-heatmap dependencies
  pkg/plugins/contribution_graph.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(agent): make global install test windows-safe
  cmd/markata-go/cmd/agent_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(agent): support Vercel-style agent selection (#1004)
  cmd/markata-go/cmd/agent.go
  cmd/markata-go/cmd/agent_registry.go
  cmd/markata-go/cmd/agent_test.go
  cmd/markata-go/cmd/explain.go
  docs/guides/agent-skills.md
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/agentskill/manifest.go
  pkg/agentskill/manifest_test.go
  spec/spec/AGENTS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(contribution_graph): use asset_urls for cal-heatmap dependencies (#1007)
  pkg/plugins/contribution_graph.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(feeds): honor template aliases in feed filters
  docs/guides/feeds.md
  pkg/filter/evaluator.go
  pkg/filter/evaluator_test.go
  pkg/plugins/feeds_test.go
  spec/spec/FEEDS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(feeds): satisfy filter lint checks
  pkg/filter/evaluator.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(feeds): honor template aliases in feed filters (#1009)
  docs/guides/feeds.md
  pkg/filter/evaluator.go
  pkg/filter/evaluator_test.go
  pkg/plugins/feeds_test.go
  spec/spec/FEEDS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(feed-cards): render video media in article cards
  pkg/themes/default/templates/partials/cards/article-card.html
Due: none

fix(feed-cards): render video media in article cards (#1016)
  pkg/themes/default/templates/partials/cards/article-card.html
Due: none

feat: add CLI search command for full-text content discovery
  cmd/markata-go/cmd/search.go
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/SKILL.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add bleve full-text search and TUI search view
  cmd/markata-go/cmd/search.go
  docs/reference/cli.md
  go.mod
  go.sum
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/search/doc.go
  pkg/search/index.go
  pkg/services/post_service.go
  pkg/tui/keys.go
  pkg/tui/model.go
  pkg/tui/search.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

feat: add WordNet synonym expansion to search
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/search/index.go
  pkg/search/index_test.go
  pkg/search/synonyms.go
  pkg/search/synonyms.json.gz
  scripts/gensynonyms.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: enable cross-POS synonym expansion in search
  pkg/search/index.go
  pkg/search/index_test.go
  pkg/search/synonyms.json.gz
  scripts/gensynonyms.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add bleve search API, TUI fuzzy/limit, privacy-safe indexing
  cmd/markata-go/cmd/search_server.go
  cmd/markata-go/cmd/serve.go
  docs/guides/configuration.md
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/models/config.go
  pkg/search/index.go
  pkg/searchapi/doc.go
  pkg/searchapi/handler.go
  pkg/searchapi/handler_test.go
  pkg/tui/model.go
  pkg/tui/search.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: prevent search from exhausting system resources
  .agents/skills/cli
  .agents/skills/skill-creator
  cmd/markata-go/cmd/search_server.go
  cmd/markata-go/cmd/serve.go
  docs/guides/python-docs.md
  docs/reference/plugins.md
  markata-go.demo.toml
  markata-go.local.toml
  pages/slides-demo.md
  pkg/agentskill/bundle/markata-go-site/topics/configuration.md
  pkg/plugins/palette_css.go
  pkg/plugins/python_docs.go
  pkg/plugins/python_docs_test.go
  pkg/plugins/registry.go
  pkg/search/index.go
  pkg/searchapi/handler.go
  pkg/searchapi/handler_test.go
  pkg/tui/search.go
  spec/spec/OPTIONAL_PLUGINS.md
  static/markata-tailwind.css
Due: go-fmt, go-vet, golangci-lint, go-test

feat: auto-switch to bleve search during markata-go serve
  pkg/themes/default/static/css/search.css
  pkg/themes/default/static/js/bleve-search.js
  pkg/themes/default/templates/base.html
  templates/base.html
Due: none

feat(search): productionize bleve navbar and server modes
  cmd/markata-go/cmd/search.go
  cmd/markata-go/cmd/search_server.go
  cmd/markata-go/cmd/search_test.go
  cmd/markata-go/cmd/search_watch.go
  cmd/markata-go/cmd/serve.go
  docs/guides/configuration.md
  docs/guides/search.md
  docs/reference/cli.md
  pkg/models/config.go
  pkg/search/index.go
  pkg/searchapi/doc.go
  pkg/searchapi/handler.go
  pkg/searchapi/handler_test.go
  pkg/themes/default/static/css/search.css
  pkg/themes/default/static/js/bleve-search.js
  pkg/themes/default/static/js/search-shortcuts.js
  pkg/themes/default/templates/base.html
  spec/spec/SEARCH.md
  templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix: resolve lint failures for issue 1018
  cmd/markata-go/cmd/list.go
  cmd/markata-go/cmd/search.go
  pkg/plugins/inline_attributes.go
  pkg/plugins/python_docs.go
  pkg/plugins/python_docs_test.go
  pkg/searchapi/handler.go
  pkg/tui/search.go
  scripts/gensynonyms.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(search): refresh bleve indexes and align serve endpoints
  .github/workflows/ci.yml
  cmd/markata-go/cmd/search_endpoint.go
  cmd/markata-go/cmd/search_server.go
  cmd/markata-go/cmd/search_test.go
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/cmd/serve_test.go
  pkg/search/index.go
  pkg/search/index_test.go
  pkg/searchapi/handler.go
  pkg/searchapi/handler_test.go
  pkg/themes/default/static/js/view-transitions.js
Due: go-fmt, go-vet, golangci-lint, go-test

feat(reader): redesign reader timeline and previews
  docs/guides/blogroll.md
  docs/guides/configuration.md
  pkg/agentskill/bundle/markata-go-site/reference/template-context.md
  pkg/plugins/blogroll.go
  pkg/plugins/blogroll_reader_test.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/templates/reader.html
  reports/issue-1020-reader-page-3-duckdb-overflow-fixed.png
  reports/issue-1020-reader-page-6-overflow-check.png
  reports/issue-1020-reader-redesign.html
  reports/issue-1020-waylon-demo-override.toml
  reports/issue-1020-waylon-reader-demo.png
  spec/spec/FEEDS.md
  templates/reader.html
  tests/browser/reader_overflow.spec.js
Due: go-fmt, go-vet, golangci-lint, go-test

fix(contribution_graph): clamp outliers and fit narrow layouts
  docs/guides/analytics.md
  docs/reference/plugins.md
  pkg/agentskill/bundle/markata-go-site/topics/analytics-storytelling.md
  pkg/models/config.go
  pkg/plugins/contribution_graph.go
  pkg/plugins/contribution_graph_test.go
  spec/spec/OPTIONAL_PLUGINS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(contribution_graph): clamp outliers and fit narrow layouts (#1023)
  docs/guides/analytics.md
  docs/reference/plugins.md
  pkg/agentskill/bundle/markata-go-site/topics/analytics-storytelling.md
  pkg/models/config.go
  pkg/plugins/contribution_graph.go
  pkg/plugins/contribution_graph_test.go
  spec/spec/OPTIONAL_PLUGINS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(ci): stabilize reader lint and regression checks
  pkg/plugins/blogroll.go
  pkg/plugins/blogroll_reader_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

chore(reader): remove review artifacts from branch
  reports/issue-1020-reader-page-3-duckdb-overflow-fixed.png
  reports/issue-1020-reader-page-6-overflow-check.png
  reports/issue-1020-reader-redesign.html
  reports/issue-1020-waylon-demo-override.toml
  reports/issue-1020-waylon-reader-demo.png
Due: none

feat(reader): redesign reader timeline and preview hierarchy (#1021)
  docs/guides/blogroll.md
  docs/guides/configuration.md
  pkg/agentskill/bundle/markata-go-site/reference/template-context.md
  pkg/plugins/blogroll.go
  pkg/plugins/blogroll_reader_test.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/templates/reader.html
  spec/spec/FEEDS.md
  templates/reader.html
  tests/browser/reader_overflow.spec.js
Due: go-fmt, go-vet, golangci-lint, go-test

fix(search): preserve private post privacy in bleve index
  cmd/markata-go/cmd/search_server.go
  docs/guides/search.md
  pkg/config/parser.go
  pkg/config/parser_test.go
  pkg/listcache/listcache.go
  pkg/plugins/load.go
  pkg/plugins/pagefind.go
  pkg/plugins/pagefind_test.go
  pkg/search/index.go
  pkg/search/index_test.go
  pkg/searchapi/doc.go
  pkg/searchapi/handler.go
  pkg/searchapi/handler_test.go
  pkg/templates/context.go
  pkg/templates/context_test.go
  spec/spec/SEARCH.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(search): preserve private post privacy in bleve index (#1024)
  cmd/markata-go/cmd/search_server.go
  docs/guides/search.md
  pkg/config/parser.go
  pkg/config/parser_test.go
  pkg/listcache/listcache.go
  pkg/plugins/load.go
  pkg/plugins/pagefind.go
  pkg/plugins/pagefind_test.go
  pkg/search/index.go
  pkg/search/index_test.go
  pkg/searchapi/doc.go
  pkg/searchapi/handler.go
  pkg/searchapi/handler_test.go
  pkg/templates/context.go
  pkg/templates/context_test.go
  spec/spec/SEARCH.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(search): satisfy lint in private search test
  pkg/searchapi/handler_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

remove .agents
  .agents/skills/cli
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/skill-creator
  .agents/skills/web-design-guidelines/SKILL.md
Due: none

ignore agents and secrets
  .gitignore
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
