Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

.pre-commit-config.yaml:

# Pre-commit hooks for markata-go
# https://pre-commit.com/
#
# Install: pre-commit install
# Run all: pre-commit run --all-files
# Update:  pre-commit autoupdate

# Default settings
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  # ─────────────────────────────────────────────────────────────────────────────
  # General hooks
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # File hygiene
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]

      # File checks
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks

      # Data file validation
      - id: check-json
        exclude: |
          (?x)^(
            templates/.*|
            pkg/themes/.*/templates/.*
          )$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml

      # Security
      - id: detect-private-key

  # ─────────────────────────────────────────────────────────────────────────────
  # Secret detection
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            go\.sum|
            .*_test\.go|
            testdata/.*|
            templates/.*\.html|
            pkg/themes/.*/templates/.*\.html
          )$

  # ─────────────────────────────────────────────────────────────────────────────
  # Go hooks
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -l -w
        language: system
        types: [go]

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

  # golangci-lint (fast mode for pre-commit, use system binary)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fast --timeout=3m
        language: system
        types: [go]
        pass_filenames: false

  # Go tests (only run on staged go files)
  - repo: local
    hooks:
      - id: go-test
        name: go test
        entry: go test -short ./...
        language: system
        types: [go]
        pass_filenames: false

  # ─────────────────────────────────────────────────────────────────────────────
  # Commit message
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix ci checks
  pkg/plugins/aesthetic_css_test.go
  pkg/plugins/external_link_hover.go
  pkg/plugins/external_link_hover_test.go
  pkg/plugins/fontpack.go
  pkg/plugins/theme_picker_test.go
  pkg/plugins/toc.go
  pkg/plugins/toc_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

ci: skip SARIF uploads for ephemeral branches
  .github/workflows/docker.yml
Due: none

fix(helm): always create source PVC when source.mode is pvc
  helm-chart/templates/pvcs.yaml
Due: none

feat(nav): preview feed and post links (Fixes #1283)
  docs/guides/configuration.md
  docs/plans/2026-09-25-navigation-previews-design.md
  pkg/agentskill/bundle/markata-go-site/topics/configuration.md
  pkg/buildcache/cache.go
  pkg/buildcache/cache_test.go
  pkg/plugins/nav_previews.go
  pkg/plugins/nav_previews_test.go
  pkg/plugins/publish_feeds.go
  pkg/plugins/templates.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/templates/components/nav.html
  pkg/themes/default/templates/components/nav_link.html
  spec/spec/TEMPLATES.md
  templates/components/nav.html
  templates/components/nav_link.html
Due: go-fmt, go-vet, golangci-lint, go-test

feat(nav): preview reader, blogroll, and random routes (Refs #1283)
  docs/guides/configuration.md
  docs/plans/2026-09-25-navigation-previews-design.md
  pkg/agentskill/bundle/markata-go-site/topics/configuration.md
  pkg/plugins/blogroll.go
  pkg/plugins/nav_previews.go
  pkg/plugins/nav_previews_test.go
  pkg/plugins/templates.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/templates/components/footer.html
  pkg/themes/default/templates/components/nav_link.html
  spec/spec/TEMPLATES.md
  templates/components/footer.html
  templates/components/nav_link.html
Due: go-fmt, go-vet, golangci-lint, go-test

feat(preview): local link, wikilink, and tag hover cards (Fixes #1285)
  docs/guides/configuration.md
  pkg/agentskill/bundle/markata-go-site/topics/configuration.md
  pkg/buildcache/cache.go
  pkg/plugins/local_link_previews.go
  pkg/plugins/local_link_previews_test.go
  pkg/plugins/nav_previews.go
  pkg/plugins/nav_previews_test.go
  pkg/plugins/templates.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/js/tooltips.js
  pkg/themes/default/templates/post.html
  spec/spec/TEMPLATES.md
  templates/post.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix(lint): reuse schemeHTTP/schemeHTTPS constants (Refs #1286)
  pkg/plugins/link_avatars.go
  pkg/plugins/local_link_previews.go
  pkg/plugins/url_normalize.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(theme): keep reader mode bright and spacious (Refs #1267)
  docs/guides/keyboard-navigation.md
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/templates/partials/shortcuts-modal.html
  pkg/themes/reader_mode_test.go
  spec/spec/THEMES.md
  templates/partials/shortcuts-modal.html
Due: go-fmt, go-vet, golangci-lint, go-test

test(theme): handle CRLF in reader shortcut help test (Refs #1267)
  pkg/themes/reader_mode_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(theme): keep reader hint from covering article (Refs #1267)
  pkg/themes/default/static/css/components.css
  pkg/themes/reader_mode_test.go
  spec/spec/THEMES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(theme): keep reader hint readable with motifs (Refs #1267)
  pkg/themes/default/static/css/components.css
  pkg/themes/reader_mode_test.go
  spec/spec/THEMES.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add built-in gallery and title sizing (Fixes #1289)
  docs/guides/feeds.md
  docs/guides/galleries.md
  docs/guides/templates.md
  docs/images/gallery-demo/gallery.png
  docs/images/gallery-demo/long-title.png
  docs/images/gallery-demo/viewer.png
  docs/plans/2026-09-26-gallery-and-titles-design.md
  examples/gallery-site/.gitignore
  examples/gallery-site/markata-go.toml
  examples/gallery-site/pages/gallery.md
  examples/gallery-site/pages/long-title.md
  examples/gallery-site/pages/shots/blue.md
  examples/gallery-site/pages/shots/coral.md
  examples/gallery-site/static/images/blue.svg
  examples/gallery-site/static/images/coral.svg
  examples/gallery-site/static/images/dusk.svg
  examples/gallery-site/static/images/gold.svg
  examples/gallery-site/static/images/green.svg
  examples/gallery-site/static/images/night.svg
  examples/gallery-site/static/images/rose.svg
  examples/gallery-site/static/images/stone.svg
  pkg/agentskill/bundle/markata-go-site/topics/template-management.md
  pkg/templates/context.go
  pkg/templates/context_test.go
  pkg/themes/default/static/css/feeds.css
  pkg/themes/default/static/css/gallery.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/js/fit-post-titles.js
  pkg/themes/default/static/js/gallery.js
  pkg/themes/default/templates/base.html
  pkg/themes/default/templates/feed-photo-grid.html
  pkg/themes/default/templates/gallery.html
  pkg/themes/default/templates/post.html
  spec/README.md
  spec/spec/GALLERIES.md
  templates/base.html
  templates/feed-photo-grid.html
  templates/gallery.html
  templates/post.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix(cli): confirm config lookups and suggest help paths
  cmd/markata-go/cmd/cli_errors.go
  cmd/markata-go/cmd/cli_errors_test.go
  cmd/markata-go/cmd/config.go
  cmd/markata-go/cmd/root.go
  pkg/config/editor.go
  pkg/config/typos_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(cli): add aliases and actionable input errors
  cmd/markata-go/cmd/build.go
  cmd/markata-go/cmd/cli_errors.go
  cmd/markata-go/cmd/cli_errors_test.go
  cmd/markata-go/cmd/config.go
  cmd/markata-go/cmd/list.go
  cmd/markata-go/cmd/root.go
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/main.go
  docs/guides/configuration.md
  docs/plans/2026-09-26-cli-actionable-errors-design.md
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/config/composition.go
  pkg/config/typos.go
  pkg/config/typos_test.go
  pkg/config/validate.go
  pkg/suggest/suggest.go
  pkg/suggest/suggest_test.go
  spec/spec/CLI_UX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(cli): improve command suggestions and diagnostics Refs #1288
  cmd/markata-go/cmd/cli_errors.go
  cmd/markata-go/cmd/cli_errors_test.go
  cmd/markata-go/cmd/cli_render.go
  cmd/markata-go/cmd/cli_render_test.go
  cmd/markata-go/cmd/list.go
  cmd/markata-go/cmd/root.go
  cmd/markata-go/cmd/search.go
  cmd/markata-go/cmd/serve.go
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/suggest/suggest.go
  pkg/suggest/suggest_test.go
  spec/spec/CLI_UX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(cli): detect occupied ports on Windows Refs #1288
  cmd/markata-go/cmd/cli_errors_test.go
  cmd/markata-go/cmd/explain.go
  cmd/markata-go/cmd/serve.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(serve): add shared session jobs and diagnostics runtime
  docs/plans/2026-09-26-serve-control-center-design.md
  pkg/servecontrol/runtime.go
  pkg/servecontrol/runtime_test.go
  spec/spec/SERVE_CONTROL_CENTER.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(serve): satisfy runtime lint
  pkg/servecontrol/runtime.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(serve): address control center review findings
  cmd/markata-go/cmd/serve.go
  pkg/builderadmin/control_runtime_test.go
  pkg/builderadmin/service.go
  pkg/logging/logging_test.go
  pkg/servecontrol/web.go
  pkg/servecontrol/web_test.go
  pkg/servefix/replace_unix.go
  pkg/servefix/replace_windows.go
  pkg/servefix/servefix.go
  pkg/servefix/servefix_test.go
  pkg/serveopen/open.go
  pkg/serveopen/open_test.go
  pkg/servetui/model.go
  pkg/servetui/model_test.go
  spec/spec/SERVE_CONTROL_CENTER.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat(serve): add local control center
  cmd/markata-go/cmd/admin.go
  cmd/markata-go/cmd/core.go
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/cmd/serve_control.go
  cmd/markata-go/cmd/serve_control_test.go
  docs/guides/serve-control-center.md
  docs/index.md
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/builderadmin/control_runtime_test.go
  pkg/builderadmin/service.go
  pkg/logging/logging.go
  pkg/plugins/css_purge.go
  pkg/servecontrol/runtime.go
  pkg/servecontrol/runtime_test.go
  pkg/servecontrol/web.go
  pkg/servecontrol/web_test.go
  pkg/servefix/servefix.go
  pkg/servefix/servefix_test.go
  pkg/serveopen/open.go
  pkg/serveopen/open_test.go
  pkg/servetui/model.go
  pkg/servetui/model_test.go
  spec/README.md
  spec/spec/CLI_UX.md
  spec/spec/SERVE_CONTROL_CENTER.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(serve): address Windows and CI review failures
  cmd/markata-go/cmd/migrate.go
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/cmd/serve_control.go
  pkg/servefix/replace_windows.go
  pkg/servefix/servefix_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

refactor(serve): keep run command lintable
  cmd/markata-go/cmd/serve.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: keep Serve TUI terminal ownership across rebuilds (Fixes #1302)
  cmd/markata-go/cmd/logging_setup.go
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/cmd/serve_control.go
  cmd/markata-go/cmd/serve_control_test.go
  cmd/markata-go/cmd/serve_pty_unix_test.go
  docs/guides/serve-control-center.md
  go.mod
  pkg/plugins/pagefind.go
  pkg/plugins/redirects.go
  pkg/plugins/subprocess_output.go
  pkg/plugins/subprocess_output_test.go
  pkg/plugins/tailwind.go
  pkg/plugins/webmentions_fetch.go
  spec/spec/CLI_UX.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

test: satisfy lint for Serve PTY coverage (Refs #1302)
  cmd/markata-go/cmd/serve_pty_unix_test.go
  pkg/plugins/subprocess_output_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(serve): enable local admin on loopback by default (Refs #1296)
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/cmd/serve_control_test.go
  docs/guides/serve-control-center.md
  docs/reference/cli.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/servecontrol/runtime.go
  pkg/servetui/model.go
  pkg/servetui/model_test.go
  spec/spec/CLI_UX.md
  spec/spec/SERVE_CONTROL_CENTER.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: preserve Control Center focus across live updates (Refs #1297)
  pkg/servecontrol/web.go
  pkg/servecontrol/web_browser_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add shared Control Center browser foundations
  cmd/markata-go/cmd/serve_control.go
  docs/guides/deployment/builder-admin.md
  docs/guides/serve-control-center.md
  pkg/agentskill/bundle/markata-go-site/topics/cli-usage.md
  pkg/builderadmin/build_detail.go
  pkg/builderadmin/service.go
  pkg/builderadmin/service_test.go
  pkg/builderadmin/theme.go
  pkg/builderadmin/theme_test.go
  pkg/servecontrol/theme.go
  pkg/servecontrol/theme_test.go
  pkg/servecontrol/web.go
  pkg/servecontrol/web_browser_test.go
  pkg/servecontrol/web_test.go
  spec/spec/SERVE_CONTROL_CENTER.md
Due: go-fmt, go-vet, golangci-lint, go-test

Polish gallery lightbox navigation
  docs/guides/galleries.md
  pkg/themes/default/static/css/gallery.css
  pkg/themes/default/static/js/gallery.js
  spec/spec/GALLERIES.md
Due: none

fix: fit gallery images and separate mobile captions from controls (Refs #1307)
  pkg/themes/default/static/css/gallery.css
Due: none

fix: preserve bundled font license bytes on Windows (Fixes #1312)
  .gitattributes
Due: none

feat: refresh themed 404 and feed reading views (Fixes #1311)
  docs/guides/configuration.md
  docs/guides/feeds.md
  pkg/themes/default/templates/404.html
  pkg/themes/default/templates/atom.xsl
  pkg/themes/default/templates/rss.xsl
  spec/spec/THEMES.md
  templates/atom.xsl
  templates/rss.xsl
Due: none

Fix navigation preview hover stacking
  docs/guides/configuration.md
  pkg/themes/default/static/css/components.css
  spec/spec/TEMPLATES.md
Due: none

fix: avoid linking disabled archive from 404
  templates/404.html
Due: none

fix: avoid linking disabled archive from 404
  pkg/themes/default/templates/404.html
Due: none

Polish gallery lightbox navigation (#1308)
  docs/guides/galleries.md
  pkg/themes/default/static/css/gallery.css
  pkg/themes/default/static/js/gallery.js
  spec/spec/GALLERIES.md
Due: none

fix: preserve bundled font license bytes on Windows (Fixes #1312) (#1313)
  .gitattributes
Due: none

Refresh themed 404 and RSS/Atom reading views (#1314)
  docs/guides/configuration.md
  docs/guides/feeds.md
  pkg/themes/default/templates/404.html
  pkg/themes/default/templates/atom.xsl
  pkg/themes/default/templates/rss.xsl
  spec/spec/THEMES.md
  templates/atom.xsl
  templates/rss.xsl
Due: none

Fix navigation preview hover stacking (#1316)
  docs/guides/configuration.md
  pkg/themes/default/static/css/components.css
  spec/spec/TEMPLATES.md
Due: none

Keep Serve TUI terminal ownership across rebuilds (#1303)
  cmd/markata-go/cmd/logging_setup.go
  cmd/markata-go/cmd/serve.go
  cmd/markata-go/cmd/serve_control.go
  cmd/markata-go/cmd/serve_control_test.go
  cmd/markata-go/cmd/serve_pty_unix_test.go
  docs/guides/serve-control-center.md
  go.mod
  pkg/plugins/pagefind.go
  pkg/plugins/redirects.go
  pkg/plugins/subprocess_output.go
  pkg/plugins/subprocess_output_test.go
  pkg/plugins/tailwind.go
  pkg/plugins/webmentions_fetch.go
  spec/spec/CLI_UX.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test
