Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

.pre-commit-config.yaml:

# Pre-commit hooks for markata-go
# https://pre-commit.com/
#
# Install: pre-commit install
# Run all: pre-commit run --all-files
# Update:  pre-commit autoupdate

# Default settings
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  # ─────────────────────────────────────────────────────────────────────────────
  # General hooks
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # File hygiene
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]

      # File checks
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks

      # Data file validation
      - id: check-json
        exclude: |
          (?x)^(
            templates/.*|
            pkg/themes/.*/templates/.*
          )$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml

      # Security
      - id: detect-private-key

  # ─────────────────────────────────────────────────────────────────────────────
  # Secret detection
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            go\.sum|
            .*_test\.go|
            testdata/.*|
            templates/.*\.html|
            pkg/themes/.*/templates/.*\.html
          )$

  # ─────────────────────────────────────────────────────────────────────────────
  # Go hooks
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -l -w
        language: system
        types: [go]

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

  # golangci-lint (fast mode for pre-commit, use system binary)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fast --timeout=3m
        language: system
        types: [go]
        pass_filenames: false

  # Go tests (only run on staged go files)
  - repo: local
    hooks:
      - id: go-test
        name: go test
        entry: go test -short ./...
        language: system
        types: [go]
        pass_filenames: false

  # ─────────────────────────────────────────────────────────────────────────────
  # Commit message
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

fix: resolve double-tap required for / search shortcut (#762)
  pkg/themes/default/static/js/search-shortcuts.js
  pkg/themes/default/templates/base.html
  templates/base.html
Due: none

feat: add goldmark-figure, goldmark-anchor, and CJK extensions (#761)
  docs/guides/markdown.md
  go.mod
  go.sum
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/components.css
  spec/spec/CONTENT.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

feat: add mermaid pre-rendering modes (CLI and Chromium)
  go.mod
  go.sum
  pkg/models/config.go
  pkg/models/errors.go
  pkg/plugins/mermaid.go
  pkg/plugins/mermaid_check.go
  pkg/plugins/mermaid_render.go
  pkg/plugins/mermaid_test.go
  spec/spec/MERMAID_PRERENDER.md
  spec/spec/OPTIONAL_PLUGINS.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix: add missing goldmark/anchor dependency from main branch merge
  go.mod
  go.sum
Due: go-mod-tidy

feat: modernize theme css layering and overrides
  docs/guides/configuration.md
  pkg/palettes/palettes/ayu-dark.toml
  pkg/plugins/palette_css.go
  pkg/plugins/palette_css_test.go
  pkg/themes/default/static/css/admonitions.css
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/code.css
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/encryption.css
  pkg/themes/default/static/css/glightbox.css
  pkg/themes/default/static/css/layouts.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/mermaid.css
  pkg/themes/default/static/css/palette-switcher.css
  pkg/themes/default/static/css/search.css
  pkg/themes/default/static/css/variables.css
  pkg/themes/default/static/css/webmentions.css
  spec/spec/THEMES.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add mermaid pre-rendering modes (CLI and Chromium) (#764)
  go.mod
  go.sum
  pkg/models/config.go
  pkg/models/errors.go
  pkg/plugins/mermaid.go
  pkg/plugins/mermaid_check.go
  pkg/plugins/mermaid_render.go
  pkg/plugins/mermaid_test.go
  spec/spec/MERMAID_PRERENDER.md
  spec/spec/OPTIONAL_PLUGINS.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix: remove double gutters inside posts on mobile
  pkg/themes/default/static/css/main.css
Due: none

fix: prevent post max-width gutters on mobile
  pkg/themes/default/static/css/main.css
Due: none

fix: apply theme overrides from models config
  pkg/plugins/palette_css.go
  pkg/plugins/palette_css_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: update hashed variables css after palette
  pkg/plugins/palette_css.go
  pkg/plugins/palette_css_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: align content width variables with layouts
  docs/guides/configuration.md
  pkg/plugins/palette_css.go
  pkg/themes/default/static/css/variables.css
Due: go-fmt, go-vet, golangci-lint, go-test

fix: avoid overriding content width in background css
  pkg/themes/default/templates/partials/background-css.html
  templates/partials/background-css.html
Due: none

fix: center header nav and tame mobile search drawer
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/search.css
Due: none

fix: center header nav and constrain search dropdown
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/search.css
Due: none

fix: stabilize header layout and search width
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/search.css
Due: none

fix: scope content container styles to main
  pkg/themes/default/static/css/components.css
Due: none

fix: stabilize header layout and search stacking
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/search.css
Due: none

fix: remove card section background strips
  pkg/themes/default/static/css/cards.css
Due: none

fix: drop base card background fills
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/main.css
Due: none

fix: restore card background and remove article bars
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/main.css
Due: none

fix: adjust card sections and mobile header layout
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/search.css
Due: none

feat: add config merge support
  cmd/markata-go/cmd/core.go
  cmd/markata-go/cmd/root.go
  docs/guides/blogroll.md
  docs/guides/configuration.md
  docs/reference/cli.md
  pkg/config/env.go
  pkg/config/env_test.go
  pkg/config/loader.go
  pkg/config/loader_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: align mobile header stacking
  pkg/themes/default/static/css/main.css
Due: none

fix: refine mobile header and search layout
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/search.css
Due: none

fix: link card tags to tag pages
  pkg/themes/default/templates/partials/cards/article-card.html
  pkg/themes/default/templates/partials/cards/contact-card.html
  pkg/themes/default/templates/partials/cards/link-card.html
  templates/partials/cards/article-card.html
  templates/partials/cards/contact-card.html
  templates/partials/cards/link-card.html
Due: none

docs: add serve merge-config example
  cmd/markata-go/cmd/explain.go
  cmd/markata-go/cmd/serve.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: resolve lint and mobile css tests
  pkg/plugins/palette_css.go
  pkg/themes/default/static/css/main.css
Due: go-fmt, go-vet, golangci-lint, go-test

feat: modernize theme CSS layering and overrides (#766)
  cmd/markata-go/cmd/explain.go
  cmd/markata-go/cmd/serve.go
  pkg/palettes/palettes/ayu-dark.toml
  pkg/plugins/palette_css.go
  pkg/plugins/palette_css_test.go
  pkg/themes/default/static/css/admonitions.css
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/code.css
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/encryption.css
  pkg/themes/default/static/css/glightbox.css
  pkg/themes/default/static/css/layouts.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/css/mermaid.css
  pkg/themes/default/static/css/palette-switcher.css
  pkg/themes/default/static/css/search.css
  pkg/themes/default/static/css/variables.css
  pkg/themes/default/static/css/webmentions.css
  pkg/themes/default/templates/partials/background-css.html
  pkg/themes/default/templates/partials/cards/article-card.html
  pkg/themes/default/templates/partials/cards/contact-card.html
  pkg/themes/default/templates/partials/cards/link-card.html
  spec/spec/THEMES.md
  templates/partials/background-css.html
  templates/partials/cards/article-card.html
  templates/partials/cards/contact-card.html
  templates/partials/cards/link-card.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix: restore themed OG templates
  docs/guides/post-formats.md
  pkg/themes/default/templates/og-card.html
  pkg/themes/default/templates/post-og.html
  spec/spec/TEMPLATES.md
Due: none

fix: restore themed OG templates (#775)
  docs/guides/post-formats.md
  pkg/themes/default/templates/og-card.html
  pkg/themes/default/templates/post-og.html
  spec/spec/TEMPLATES.md
Due: none

docs: add multi-author user guide
  docs/guides/authors.md
Due: none
