Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

go-fmt:
  name: go fmt
  entry: gofmt -l -w
  language: system

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fast --timeout=3m
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test -short ./...
  language: system
  pass_filenames: false

fix(admonitions): prevent content leak after multi-paragraph admonitions (#746)
  pkg/plugins/admonitions.go
  pkg/plugins/admonitions_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(init): map all huh theme fields to site palette colors
  cmd/markata-go/cmd/init_huh.go
  cmd/markata-go/cmd/init_huh_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(init): map all huh theme fields to site palette colors (#747)
  cmd/markata-go/cmd/init_huh.go
  cmd/markata-go/cmd/init_huh_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(palette): add interactive TUI palette picker with config integration
  cmd/markata-go/cmd/palette_pick.go
  docs/guides/themes.md
  docs/reference/cli.md
  spec/spec/THEMES.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat(palette): add interactive TUI palette picker with config integration (#749)
  cmd/markata-go/cmd/palette_pick.go
  docs/guides/themes.md
  docs/reference/cli.md
  spec/spec/THEMES.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat(resources): conditional CSS/JS loading, lazy pagefind, and JS minification (#750)
  pkg/models/config.go
  pkg/plugins/css_minify.go
  pkg/plugins/js_minify.go
  pkg/plugins/js_minify_test.go
  pkg/plugins/minify_helpers.go
  pkg/plugins/publish_feeds.go
  pkg/plugins/registry.go
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/js/conditional-css.js
  templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

docs: add spec and user docs for conditional CSS, lazy pagefind, and minification plugins
  docs/guides/configuration.md
  docs/reference/plugins.md
  spec/spec/DEFAULT_PLUGINS.md
  spec/spec/SEARCH.md
  spec/spec/THEMES.md
Due: none

feat(resources): conditional CSS/JS loading, lazy pagefind, and JS minification (#751)
  docs/guides/configuration.md
  docs/reference/plugins.md
  pkg/models/config.go
  pkg/plugins/css_minify.go
  pkg/plugins/js_minify.go
  pkg/plugins/js_minify_test.go
  pkg/plugins/minify_helpers.go
  pkg/plugins/publish_feeds.go
  pkg/plugins/registry.go
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/main.css
  pkg/themes/default/static/js/conditional-css.js
  spec/spec/DEFAULT_PLUGINS.md
  spec/spec/SEARCH.md
  spec/spec/THEMES.md
  templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

feat(series): add series plugin for ordered post collections
  docs/guides/series.md
  docs/reference/plugins.md
  pkg/plugins/registry.go
  pkg/plugins/series.go
  pkg/plugins/series_test.go
  spec/spec/DEFAULT_PLUGINS.md
  spec/spec/SERIES.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat(series): add series plugin for ordered post collections (#753)
  docs/guides/series.md
  docs/reference/plugins.md
  pkg/plugins/registry.go
  pkg/plugins/series.go
  pkg/plugins/series_test.go
  spec/spec/DEFAULT_PLUGINS.md
  spec/spec/SERIES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: implement conditional CSS loading to reduce page size
  pkg/themes/default/templates/base.html
Due: none

fix: implement conditional CSS loading to reduce page size (#754)
  pkg/themes/default/templates/base.html
Due: none

fix: optimize loading - lazy pagefind CSS, conditional decryption, and glightbox selector
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/web-design-guidelines/SKILL.md
  pkg/models/config.go
  pkg/plugins/image_zoom_test.go
  pkg/themes/default/templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix: split components.css and add conditional GLightbox/Mermaid CSS loading
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/glightbox.css
  pkg/themes/default/static/css/mermaid.css
  pkg/themes/default/templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix: optimize resource loading - conditional JS/CSS and lazy pagefind (#755)
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/web-design-guidelines/SKILL.md
  pkg/models/config.go
  pkg/plugins/image_zoom_test.go
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/glightbox.css
  pkg/themes/default/static/css/mermaid.css
  pkg/themes/default/templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

chore: remove dead shortcuts.js file and update docs
  docs/guides/keyboard-navigation.md
  pkg/themes/default/static/js/shortcuts.js
Due: none

fix: use semantic HTML selectors for j/k keybinding detection
  pkg/themes/default/static/js/navigation-shortcuts.js
  pkg/themes/default/static/js/scrolling-shortcuts.js
Due: none

feat: add TOC improvements with auto-enable and markdown placeholder
  docs/guides/configuration.md
  docs/guides/markdown.md
  pkg/models/layout.go
  pkg/models/post.go
  pkg/plugins/toc.go
  spec/spec/LAYOUTS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: correct conditional CSS/JS loading regressions in default theme
  pkg/themes/default/templates/base.html
Due: none

fix: use semantic HTML selectors for j/k keybinding detection (#756)
  pkg/themes/default/static/js/navigation-shortcuts.js
  pkg/themes/default/static/js/scrolling-shortcuts.js
Due: none

fix: correct conditional CSS/JS loading regressions in default theme (#759)
  pkg/themes/default/templates/base.html
Due: none

feat: add TOC improvements with auto-enable and markdown placeholder (#757)
  docs/guides/configuration.md
  docs/guides/markdown.md
  pkg/models/layout.go
  pkg/models/post.go
  pkg/plugins/toc.go
  spec/spec/LAYOUTS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: add pre-load placeholder for search box in navbar
  pkg/themes/default/static/css/search.css
Due: none

fix: add pre-load placeholder for search box in navbar (#760)
  pkg/themes/default/static/css/search.css
Due: none

feat: add goldmark-figure, goldmark-anchor, and CJK extensions
  go.mod
  go.sum
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/components.css
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix: resolve double-tap required for / search shortcut
  pkg/themes/default/static/js/search-shortcuts.js
  pkg/themes/default/templates/base.html
  templates/base.html
Due: none

feat: make figure, anchor, and CJK extensions configurable
  pkg/plugins/render_markdown.go
Due: go-fmt, go-vet, golangci-lint, go-test

docs: add documentation for CJK, figure, and anchor extensions
  docs/guides/markdown.md
  spec/spec/CONTENT.md
Due: none

fix: resolve double-tap required for / search shortcut (#762)
  pkg/themes/default/static/js/search-shortcuts.js
  pkg/themes/default/templates/base.html
  templates/base.html
Due: none

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
