Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

go-fmt:
  name: go fmt
  entry: gofmt -l -w
  language: system

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fast --timeout=3m
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test -short ./...
  language: system
  pass_filenames: false

fix: emit direct alpha heading wear asset
  pkg/renderingrecipe/recipe.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: emit real heading wear alpha and derive motif geometry
  pkg/renderingrecipe/recipe.go
  pkg/renderingrecipe/recipe_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

test: freeze direct alpha heading asset identity
  pkg/renderingrecipe/canonical_conformance_test.go
  spec/rendering-contract/recipes/hash-vectors-v1.json
Due: go-fmt, go-vet, golangci-lint, go-test

fix: align canonical motif geometry
  markata-go.toml
  pkg/renderingrecipe/recipe.go
  pkg/renderingrecipe/testdata/canonical-theme.json
Due: go-fmt, go-vet, golangci-lint, go-test

Refresh canonical recipe vectors
  pkg/renderingrecipe/canonical_conformance_test.go
  spec/rendering-contract/recipes/hash-vectors-v1.json
Due: go-fmt, go-vet, golangci-lint, go-test

fix: align canonical document projection
  pkg/themes/default/templates/base.html
  spec/rendering-contract/profiles/canonical-document-v1.json
  templates/base.html
Due: none

fix: converge canonical heading inline layout
  pkg/plugins/aesthetic_css.go
  pkg/plugins/aesthetic_css_test.go
  pkg/themes/default/templates/base.html
  spec/rendering-contract/profiles/canonical-document-v1.json
  templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix: preserve canonical heading semantics
  pkg/config/canonical_fixture_test.go
  pkg/config/canonical_specimen_test.go
  templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix: finish rendering contract geometry and assets
  pkg/plugins/link_avatars.go
  pkg/plugins/tailwind.go
  pkg/themes/default/static/css/main.css
  pkg/themes/default/templates/partials/guide-navigation.html
  templates/base.html
Due: go-fmt, go-vet, golangci-lint, go-test

feat(content-index): add versioned metadata artifact
  cmd/markata-go/cmd/benchmark.go
  cmd/markata-go/cmd/core.go
  docs/guides/configuration.md
  docs/guides/content-index.md
  docs/reference/plugins.md
  pkg/agentskill/bundle/markata-go-site/topics/configuration.md
  pkg/config/env.go
  pkg/contentindex/contentindex_test.go
  pkg/contentindex/errors.go
  pkg/contentindex/fixtures/v1-full.json
  pkg/contentindex/fixtures/v1-minimal.json
  pkg/contentindex/fixtures/v1-no-feeds.json
  pkg/contentindex/fixtures/v1-private-draft.json
  pkg/contentindex/model.go
  pkg/contentindex/parse.go
  pkg/contentindex/v1.go
  pkg/contentindex/v1_schema.json
  pkg/plugins/content_index.go
  pkg/plugins/content_index_test.go
  pkg/plugins/registry.go
  spec/README.md
  spec/spec/CONTENT_INDEX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(content-index): satisfy CI lint checks
  pkg/config/env.go
  pkg/contentindex/contentindex_test.go
  pkg/contentindex/v1.go
  pkg/plugins/content_index.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(content-index): finalize v1 scope and source-state validation
  docs/guides/content-index.md
  go.mod
  go.sum
  pkg/builderadmin/service.go
  pkg/contentindex/contentindex_test.go
  pkg/contentindex/fixtures/v1-dirty.json
  pkg/contentindex/fixtures/v1-full.json
  pkg/contentindex/fixtures/v1-minimal.json
  pkg/contentindex/fixtures/v1-no-feeds.json
  pkg/contentindex/fixtures/v1-private-draft.json
  pkg/contentindex/model.go
  pkg/contentindex/schema_test.go
  pkg/contentindex/v1.go
  pkg/contentindex/v1_schema.json
  pkg/plugins/content_index.go
  pkg/sourcegit/source.go
  pkg/sourcegit/source_test.go
  spec/spec/CONTENT_INDEX.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix(content-index): verify source snapshot during build
  docs/guides/content-index.md
  pkg/contentindex/schema_test.go
  pkg/contentindex/v1.go
  pkg/plugins/content_index.go
  pkg/sourcegit/source.go
  spec/spec/CONTENT_INDEX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(content-index): close v1 contract gaps
  pkg/contentindex/parse.go
  pkg/contentindex/schema_test.go
  pkg/contentindex/v1.go
  pkg/contentindex/v1_schema.json
  pkg/plugins/content_index_test.go
  pkg/sourcegit/source.go
  pkg/sourcegit/source_test.go
  spec/spec/CONTENT_INDEX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(content-index): satisfy lint checks
  pkg/contentindex/parse.go
  pkg/sourcegit/source.go
Due: go-fmt, go-vet, golangci-lint, go-test

docs(content-index): clarify source provenance
  docs/guides/content-index.md
  spec/spec/CONTENT_INDEX.md
Due: none

fix rendering wear and highlight semantics
  pkg/plugins/aesthetic_css.go
  pkg/plugins/aesthetic_css_test.go
  pkg/themes/default/static/js/heading-highlights.js
Due: go-fmt, go-vet, golangci-lint, go-test

feat(content-index): add versioned metadata artifact (#1164)
  cmd/markata-go/cmd/benchmark.go
  cmd/markata-go/cmd/core.go
  docs/guides/configuration.md
  docs/guides/content-index.md
  docs/reference/plugins.md
  go.mod
  go.sum
  pkg/agentskill/bundle/markata-go-site/topics/configuration.md
  pkg/builderadmin/service.go
  pkg/config/env.go
  pkg/contentindex/contentindex_test.go
  pkg/contentindex/errors.go
  pkg/contentindex/fixtures/v1-dirty.json
  pkg/contentindex/fixtures/v1-full.json
  pkg/contentindex/fixtures/v1-minimal.json
  pkg/contentindex/fixtures/v1-no-feeds.json
  pkg/contentindex/fixtures/v1-private-draft.json
  pkg/contentindex/model.go
  pkg/contentindex/parse.go
  pkg/contentindex/schema_test.go
  pkg/contentindex/v1.go
  pkg/contentindex/v1_schema.json
  pkg/plugins/content_index.go
  pkg/plugins/content_index_test.go
  pkg/plugins/registry.go
  pkg/sourcegit/source.go
  pkg/sourcegit/source_test.go
  spec/README.md
  spec/spec/CONTENT_INDEX.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix(random-post): support seeded build output
  pkg/plugins/random_post.go
  pkg/plugins/random_post_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(random-post): satisfy lint
  pkg/plugins/random_post.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: support seeded random-post output (#1165)
  pkg/plugins/random_post.go
  pkg/plugins/random_post_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(chart): pass builder release directory
  helm-chart/templates/builder-admin.yaml
Due: none

fix(chart): pass builder release directory (#1166)
  helm-chart/templates/builder-admin.yaml
Due: none

perf: reduce build cleanup and source snapshot cost
  docs/guides/deployment/builder-admin.md
  pkg/builderadmin/service.go
  pkg/sourcegit/source.go
  pkg/sourcegit/source_test.go
  spec/spec/BUILDER_ADMIN.md
Due: go-fmt, go-vet, golangci-lint, go-test

perf: reduce build cleanup and source snapshot cost (#1168)
  docs/guides/deployment/builder-admin.md
  pkg/builderadmin/service.go
  pkg/sourcegit/source.go
  pkg/sourcegit/source_test.go
  spec/spec/BUILDER_ADMIN.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(content-index): publish CORS headers
  pkg/plugins/content_index.go
  pkg/plugins/content_index_test.go
  spec/spec/CONTENT_INDEX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: preserve source snapshot coverage
  pkg/sourcegit/source.go
  pkg/sourcegit/source_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
