Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

go-fmt:
  name: go fmt
  entry: gofmt -l -w
  language: system

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fast --timeout=3m
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test -short ./...
  language: system
  pass_filenames: false

Refs #772: add image optimization design
  docs/plans/2026-02-15-image-optimization-design.md
Due: none

Refs #772: add image optimization plugin
  docs/guides/configuration.md
  docs/guides/image-optimization.md
  docs/reference/plugins.md
  pkg/plugins/image_optimization.go
  pkg/plugins/image_optimization_test.go
  pkg/plugins/registry.go
  spec/spec/OPTIONAL_PLUGINS.md
Due: go-fmt, go-vet, golangci-lint, go-test

Fixes #778: add responsive image variants
  docs/guides/configuration.md
  docs/guides/image-optimization.md
  docs/reference/plugins.md
  pkg/plugins/image_optimization.go
  pkg/plugins/image_optimization_test.go
  spec/spec/OPTIONAL_PLUGINS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: correct asset hashing for incremental builds
  pkg/plugins/palette_css.go
  pkg/plugins/static_assets.go
Due: go-fmt, go-vet, golangci-lint, go-test

Fixes #777: skip link avatars for linked images (#791)
  docs/guides/link-avatars.md
  pkg/plugins/link_avatars.go
  spec/spec/LINK_AVATARS.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat: preserve config formatting on get/set
  cmd/markata-go/cmd/config.go
  cmd/markata-go/cmd/palette_pick.go
  docs/reference/cli.md
  go.mod
  go.sum
  pkg/config/editor.go
  pkg/config/editor_json.go
  pkg/config/editor_toml.go
  pkg/config/editor_toml_test.go
  pkg/config/editor_yaml.go
  pkg/config/editor_yaml_test.go
  pkg/config/key_path.go
  spec/spec/CONFIG.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix: keep hashed asset filenames stable after minify
  pkg/plugins/static_assets.go
  pkg/plugins/static_assets_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

test: use bytes.Equal in static assets test
  pkg/plugins/static_assets_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: handle config edits without cgo
  cmd/markata-go/cmd/config.go
  cmd/markata-go/cmd/palette_pick.go
  docs/reference/cli.md
  pkg/config/editor_json.go
  pkg/config/editor_toml.go
  pkg/config/editor_toml_nocgo.go
  pkg/config/editor_toml_test.go
  pkg/config/editor_yaml.go
  pkg/config/editor_yaml_nocgo.go
  pkg/config/editor_yaml_test.go
  spec/spec/CONFIG.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: clean up image optimization lint
  pkg/plugins/image_optimization.go
  pkg/plugins/image_optimization_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

test: update config set coverage
  cmd/markata-go/cmd/config_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: correct asset hashing for incremental builds (#794)
  pkg/plugins/palette_css.go
  pkg/plugins/static_assets.go
  pkg/plugins/static_assets_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

chore: drop unused config map marshal
  cmd/markata-go/cmd/config.go
  spec/spec/THEMES.md
Due: go-fmt, go-vet, golangci-lint, go-test

ci: parallelize docker builds and fix trivy uploads
  .github/workflows/docker.yml
Due: none

ci: fix docker workflow platform selection
  .github/workflows/docker.yml
Due: none

ci: fix docker workflow parse error
  .github/workflows/docker.yml
Due: none

fix: align default config for content and feeds
  cmd/markata-go/cmd/config.go
  docs/guides/configuration.md
  docs/guides/feeds.md
  pkg/config/config_test.go
  pkg/config/defaults.go
  spec/spec/CONFIG.md
  spec/spec/FEEDS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: move link-avatars assets to css/js
  docs/guides/link-avatars.md
  pkg/plugins/link_avatars.go
  pkg/plugins/link_avatars_test.go
  spec/spec/LINK_AVATARS.md
  tests/integration_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

ci: speed up PR checks
  .github/workflows/ci.yml
Due: none

test: fix integration build and errcheck
  pkg/plugins/link_avatars_test.go
  tests/integration_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
