Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

.pre-commit-config.yaml:

# Pre-commit hooks for markata-go
# https://pre-commit.com/
#
# Install: pre-commit install
# Run all: pre-commit run --all-files
# Update:  pre-commit autoupdate

# Default settings
default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  # ─────────────────────────────────────────────────────────────────────────────
  # General hooks
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      # File hygiene
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: mixed-line-ending
        args: [--fix=lf]

      # File checks
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks

      # Data file validation
      - id: check-json
        exclude: |
          (?x)^(
            templates/.*|
            pkg/themes/.*/templates/.*
          )$
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-toml

      # Security
      - id: detect-private-key

  # ─────────────────────────────────────────────────────────────────────────────
  # Secret detection
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline]
        exclude: |
          (?x)^(
            go\.sum|
            .*_test\.go|
            testdata/.*|
            templates/.*\.html|
            pkg/themes/.*/templates/.*\.html
          )$

  # ─────────────────────────────────────────────────────────────────────────────
  # Go hooks
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: local
    hooks:
      - id: go-fmt
        name: go fmt
        entry: gofmt -l -w
        language: system
        types: [go]

      - id: go-vet
        name: go vet
        entry: go vet ./...
        language: system
        types: [go]
        pass_filenames: false

      - id: go-mod-tidy
        name: go mod tidy
        entry: go mod tidy
        language: system
        files: go\.(mod|sum)$
        pass_filenames: false

  # golangci-lint (fast mode for pre-commit, use system binary)
  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: golangci-lint run --fast --timeout=3m
        language: system
        types: [go]
        pass_filenames: false

  # Go tests (only run on staged go files)
  - repo: local
    hooks:
      - id: go-test
        name: go test
        entry: go test -short ./...
        language: system
        types: [go]
        pass_filenames: false

  # ─────────────────────────────────────────────────────────────────────────────
  # Commit message
  # ─────────────────────────────────────────────────────────────────────────────
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v3.4.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: [feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert]

perf: add --fast build flag and parallelize minification
  cmd/markata-go/cmd/build.go
  pkg/plugins/blogroll.go
  pkg/plugins/css_minify.go
  pkg/plugins/css_purge.go
  pkg/plugins/js_minify.go
  pkg/plugins/minify_helpers.go
Due: go-fmt, go-vet, golangci-lint, go-test

perf: extend build cache with plugin-level caching and in-memory write-through
  go.mod
  pkg/buildcache/cache.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

perf: add two-phase caching to render/transform plugins
  pkg/plugins/embeds.go
  pkg/plugins/glossary.go
  pkg/plugins/link_avatars.go
  pkg/plugins/link_collector.go
  pkg/plugins/publish_html.go
  pkg/plugins/templates.go
Due: go-fmt, go-vet, golangci-lint, go-test

perf: add permanent per-plugin timing instrumentation
  pkg/lifecycle/hooks.go
Due: go-fmt, go-vet, golangci-lint, go-test

docs: add performance optimization guidelines to AGENTS.md
  AGENTS.md
Due: none

fix: guard against nil Extra map and use consistent worker concurrency
  cmd/markata-go/cmd/build.go
  pkg/buildcache/cache.go
  pkg/config/defaults.go
  pkg/plugins/css_minify.go
  pkg/plugins/js_minify.go
  pkg/plugins/minify_helpers.go
  pkg/plugins/templates.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: remove embed card image gap
  pkg/themes/default/static/css/components.css
Due: none

feat: add --fast flag to serve command
  cmd/markata-go/cmd/build.go
  cmd/markata-go/cmd/core.go
  cmd/markata-go/cmd/serve.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(embeds): render photo oembed as image only
  pkg/plugins/embeds.go
  pkg/themes/default/static/css/components.css
Due: go-fmt, go-vet, golangci-lint, go-test

fix: properly handle TikTok oEmbed responses
  pkg/models/config.go
  pkg/plugins/embeds.go
  pkg/plugins/oembed.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(embeds): render gist code blocks
  docs/guides/embeds.md
  pkg/plugins/embeds.go
  pkg/plugins/oembed.go
  pkg/plugins/oembed_test.go
  pkg/plugins/render_markdown.go
  pkg/themes/default/static/css/components.css
  spec/spec/EMBEDS.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix: use Giphy oEmbed title and normalize embed syntax options
  pkg/plugins/embeds.go
  pkg/plugins/oembed.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(embeds): highlight gist code blocks
  pkg/plugins/oembed.go
  pkg/plugins/oembed_test.go
  pkg/themes/default/static/css/components.css
Due: go-fmt, go-vet, golangci-lint, go-test

perf: skip pagefind, feeds, and redirects in fast mode
  pkg/plugins/pagefind.go
  pkg/plugins/publish_feeds.go
  pkg/plugins/redirects.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix: allow feeds to generate in fast mode
  pkg/plugins/publish_feeds.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(embeds): render gist code with goldmark
  pkg/plugins/oembed.go
  pkg/plugins/oembed_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(encryption): match private_tags against templateKey in addition to tags
  docs/guides/encryption.md
  pkg/plugins/encryption.go
  pkg/plugins/encryption_test.go
  spec/spec/ENCRYPTION.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(encryption): seal plaintext content leaks for private posts
  pkg/plugins/embeds.go
  pkg/plugins/encryption.go
  pkg/plugins/encryption_test.go
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/plugins/wikilink_hover.go
  pkg/plugins/wikilinks.go
Due: go-fmt, go-vet, golangci-lint, go-test

docs(encryption): document privacy protection across all output types
  docs/guides/encryption.md
  spec/spec/ENCRYPTION.md
Due: none

docs(encryption): document the privacy boundary (content vs metadata)
  docs/guides/encryption.md
  spec/spec/ENCRYPTION.md
Due: none
