Repository WaylonWalker/markata-go: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

go-fmt:
  name: go fmt
  entry: gofmt -l -w
  language: system

go-vet:
  name: go vet
  entry: go vet ./...
  language: system
  pass_filenames: false

go-mod-tidy:
  name: go mod tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

golangci-lint:
  name: golangci-lint
  entry: golangci-lint run --fast --timeout=3m
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: go test -short ./...
  language: system
  pass_filenames: false

fix(encryption): use zxcvbn for crack-time estimation
  cmd/markata-go/cmd/encryption.go
  cmd/markata-go/cmd/encryption_policy_test.go
  cmd/markata-go/cmd/encryption_test.go
  docs/guides/encryption.md
  go.mod
  go.sum
  pkg/encryption/policy.go
  pkg/encryption/policy_test.go
  spec/spec/ENCRYPTION.md
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix(ci): address lint and encryption integration failures
  cmd/markata-go/cmd/config.go
  tests/encryption_integration_test.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(encryption): enforce key strength policy and add password generator (#883)
  cmd/markata-go/cmd/config.go
  cmd/markata-go/cmd/encryption.go
  cmd/markata-go/cmd/encryption_policy.go
  cmd/markata-go/cmd/encryption_policy_test.go
  cmd/markata-go/cmd/encryption_test.go
  cmd/markata-go/cmd/lint.go
  docs/guides/configuration.md
  docs/guides/encryption.md
  docs/reference/cli.md
  go.mod
  go.sum
  pkg/config/encryption_test.go
  pkg/config/env.go
  pkg/config/env_test.go
  pkg/config/merge.go
  pkg/config/parser.go
  pkg/encryption/password_gen.go
  pkg/encryption/policy.go
  pkg/encryption/policy_test.go
  pkg/models/config.go
  pkg/plugins/encryption.go
  pkg/plugins/encryption_test.go
  spec/spec/ENCRYPTION.md
  tests/encryption_integration_test.go
Due: go-fmt, go-vet, go-mod-tidy, golangci-lint, go-test

fix: correct masonry and subgrid layout targets
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/components.css
  pkg/themes/default/static/css/main.css
  pkg/themes/default/templates/feed.html
Due: none

feat(feed): add masonry/subgrid feed layouts (refs #877)
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/variables.css
  pkg/themes/default/templates/feed.html
  pkg/themes/default/templates/partials/cards/article-card.html
  pkg/themes/default/templates/partials/cards/contact-card.html
  pkg/themes/default/templates/partials/cards/default-card.html
  pkg/themes/default/templates/partials/cards/guide-card.html
  pkg/themes/default/templates/partials/cards/inline-card.html
  pkg/themes/default/templates/partials/cards/link-card.html
  pkg/themes/default/templates/partials/cards/note-card.html
  pkg/themes/default/templates/partials/cards/photo-card.html
  pkg/themes/default/templates/partials/cards/quote-card.html
  pkg/themes/default/templates/partials/cards/video-card.html
Due: none

feat(templates): add modern and inspiration post layouts (refs #885)
  docs/guides/templates.md
  pkg/themes/default/static/css/main.css
  pkg/themes/default/templates/post--inspiration.html
  pkg/themes/default/templates/post--modern.html
  spec/spec/TEMPLATES.md
  templates/post--inspiration.html
  templates/post--modern.html
Due: none

feat(templates): add editorial and storyteller layouts (refs #881)
  pkg/themes/default/templates/layout--editorial.html
  pkg/themes/default/templates/layout--storyteller.html
  pkg/themes/default/templates/partial--bento-grid.html
  pkg/themes/default/templates/partial--pricing-card.html
  templates/layout--editorial.html
  templates/layout--storyteller.html
  templates/partial--bento-grid.html
  templates/partial--pricing-card.html
Due: none

refactor(templates): split template resolution helpers
  docs/guides/frontmatter.md
  docs/guides/templates.md
  pkg/models/layout.go
  pkg/plugins/load.go
  pkg/plugins/templates.go
  pkg/plugins/templates_test.go
  spec/spec/TEMPLATES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(css_purge): keep pseudo-only selectors in purge
  docs/guides/configuration.md
  pkg/csspurge/matcher.go
  pkg/csspurge/matcher_test.go
  spec/spec/CONFIG.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(css_purge): keep pseudo-only selectors in purge (#892)
  docs/guides/configuration.md
  pkg/csspurge/matcher.go
  pkg/csspurge/matcher_test.go
  spec/spec/CONFIG.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add feed limit and offset options
  docs/guides/configuration.md
  docs/guides/feeds.md
  pkg/config/parser.go
  pkg/config/parser_test.go
  pkg/config/validate.go
  pkg/config/validate_test.go
  pkg/models/feed.go
  pkg/plugins/feeds.go
  pkg/plugins/feeds_test.go
  pkg/templates/context.go
  spec/spec/CONFIG.md
  spec/spec/FEEDS.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat(markdown): extend attribute syntax support
  docs/guides/configuration.md
  docs/guides/markdown.md
  pkg/csspurge/matcher.go
  pkg/csspurge/matcher_test.go
  pkg/plugins/containers.go
  pkg/plugins/inline_attributes.go
  pkg/plugins/render_markdown.go
  pkg/plugins/render_markdown_test.go
  pkg/plugins/wikilinks.go
  spec/spec/CONFIG.md
  spec/spec/CONTENT.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat: add feed limit/offset hard caps (#894)
  docs/guides/configuration.md
  docs/guides/feeds.md
  pkg/config/parser.go
  pkg/config/parser_test.go
  pkg/config/validate.go
  pkg/config/validate_test.go
  pkg/models/feed.go
  pkg/plugins/feeds.go
  pkg/plugins/feeds_test.go
  pkg/templates/context.go
  pkg/themes/default/static/css/cards.css
  pkg/themes/default/static/css/variables.css
  pkg/themes/default/templates/feed.html
  pkg/themes/default/templates/partials/cards/article-card.html
  pkg/themes/default/templates/partials/cards/contact-card.html
  pkg/themes/default/templates/partials/cards/default-card.html
  pkg/themes/default/templates/partials/cards/guide-card.html
  pkg/themes/default/templates/partials/cards/inline-card.html
  pkg/themes/default/templates/partials/cards/link-card.html
  pkg/themes/default/templates/partials/cards/note-card.html
  pkg/themes/default/templates/partials/cards/photo-card.html
  pkg/themes/default/templates/partials/cards/quote-card.html
  pkg/themes/default/templates/partials/cards/video-card.html
  spec/spec/CONFIG.md
  spec/spec/FEEDS.md
Due: go-fmt, go-vet, golangci-lint, go-test

feat(markdown): extend attribute syntax support (#896)
  docs/guides/markdown.md
  pkg/plugins/containers.go
  pkg/plugins/inline_attributes.go
  pkg/plugins/render_markdown.go
  pkg/plugins/render_markdown_test.go
  pkg/plugins/wikilinks.go
  spec/spec/CONTENT.md
Due: go-fmt, go-vet, golangci-lint, go-test

docs(containers): clarify nested ::: syntax and add tests
  docs/advanced-usage.md
  pkg/plugins/containers_test.go
  spec/spec/CONTAINER_SYNTAX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(og): render frontmatter images in OG cards
  docs/guides/post-formats.md
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/themes/default/templates/og-card.html
  spec/spec/TEMPLATES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(containers): keep nested cards open through figures
  docs/advanced-usage.md
  pkg/plugins/containers.go
  pkg/plugins/containers_test.go
  pkg/plugins/render_markdown.go
  spec/spec/CONTAINER_SYNTAX.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(render_markdown): bust cache after container parser changes
  pkg/plugins/render_markdown.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(encryption): fail fast on key validation
  docs/guides/encryption.md
  pkg/plugins/encryption.go
  spec/spec/ENCRYPTION.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(encryption): fail fast on key validation (#905)
  docs/guides/encryption.md
  pkg/plugins/encryption.go
  spec/spec/ENCRYPTION.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(og): render frontmatter images in OG cards (#903)
  docs/guides/post-formats.md
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/themes/default/templates/og-card.html
  spec/spec/TEMPLATES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(og): support video media in OG cards
  docs/guides/post-formats.md
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/themes/default/templates/og-card.html
  spec/spec/TEMPLATES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(og): support video media in OG cards (#906)
  docs/guides/post-formats.md
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/themes/default/templates/og-card.html
  spec/spec/TEMPLATES.md
Due: go-fmt, go-vet, golangci-lint, go-test

fix(og): add trusted media sizing and video posters (#907)
  cmd/markata-go/cmd/core.go
  docs/guides/post-formats.md
  docs/guides/templates.md
  pkg/config/parser.go
  pkg/models/config.go
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/plugins/templates.go
  pkg/templates/context.go
  pkg/templates/filters.go
  pkg/templates/filters_test.go
  pkg/templates/media.go
  pkg/themes/default/templates/og-card.html
  pkg/themes/default/templates/partials/cards/photo-card.html
  pkg/themes/default/templates/partials/cards/video-card.html
  spec/spec/CONFIG.md
  spec/spec/TEMPLATES.md
  templates/partials/cards/photo-card.html
  templates/partials/cards/video-card.html
  templates/partials/external-embed.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix(embeds): route media embeds through shot/video cards (#907)
  templates/partials/embed-card.html
Due: none

fix(media): add poster support for shots embeds and md_video (#907)
  pkg/plugins/md_video.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(media): enable trusted poster fallback in embeds and helpers (#907)
  pkg/plugins/embeds.go
  pkg/templates/media.go
Due: go-fmt, go-vet, golangci-lint, go-test

fix(og): size media queries to rendered frame dimensions (#907)
  pkg/plugins/publish_html.go
  pkg/plugins/publish_html_test.go
  pkg/themes/default/templates/og-card.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix(lint): remove unused video helpers and init in media filters (#907)
  pkg/templates/filters.go
  pkg/templates/media.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat(theme): default to dark mode and split mode toggle
  docs/guides/configuration.md
  docs/guides/themes.md
  pkg/config/parser.go
  pkg/config/parser_test.go
  pkg/models/config.go
  pkg/plugins/palette_css.go
  pkg/plugins/palette_css_test.go
  pkg/templates/context.go
  pkg/templates/context_test.go
  pkg/themes/default/static/css/palette-switcher.css
  pkg/themes/default/static/js/layout.js
  pkg/themes/default/static/js/palette-switcher.js
  pkg/themes/default/templates/base.html
  pkg/themes/default/templates/og-card.html
  pkg/themes/default/templates/partials/palette-switcher-styles.html
  pkg/themes/default/templates/partials/palette-switcher.html
  pkg/themes/default/templates/partials/shortcuts-modal.html
  spec/spec/CONFIG.md
  spec/spec/THEMES.md
  templates/base.html
  templates/partials/palette-switcher-styles.html
  templates/partials/palette-switcher.html
  templates/partials/shortcuts-modal.html
Due: go-fmt, go-vet, golangci-lint, go-test

fix(lint): extract theme mode constants in palette css
  pkg/plugins/palette_css.go
Due: go-fmt, go-vet, golangci-lint, go-test

feat: implement Tailwind CSS CDN automation and fix inline attribute leaking
  Dockerfile
  docs/guides/configuration.md
  docs/guides/deployment/docker.md
  docs/reference/plugins.md
  pkg/assets/registry.go
  pkg/config/validate.go
  pkg/lsp/index.go
  pkg/models/config.go
  pkg/plugins/description.go
  pkg/plugins/description_test.go
  pkg/plugins/inline_attributes.go
  pkg/plugins/registry.go
  pkg/plugins/render_markdown_test.go
  pkg/plugins/tailwind.go
  pkg/plugins/tailwind_installer.go
  spec/spec/CONFIG.md
  spec/spec/CONTAINERS.md
  spec/spec/DEFAULT_PLUGINS.md
Due: go-fmt, go-vet, golangci-lint, go-test

Path conditions:
  go-fmt: any of: \.go$
  go-vet: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  golangci-lint: any of: \.go$
  go-test: any of: \.go$
